<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head.ejs') %> 
</head>
<body>
    <div class="container text-center pt-3">
        <h1 class="text-danger">Error 400. Bad request</h1>
        <h2>The time was entered incorrectly</h2>
        <a href="/" class="mt-5 d-block">Go to Home</a>
    </div>
</body>
</html>